/* app css stylesheet */

body {
 overflow-y: visible;
}

.topbar {
 height:30px;
 z-index:50;
}

.logo{
 position: relative;
 margin: auto;
 left: 0;
 right: 0;
 width: 333px;
 top: 50px;
 min-width: 1px;
 cursor: pointer;
}

.menu {
  font-weight: 500;
  font-style: normal;
  color: #585858;
  font-size: 18px;
  margin-top: 4em;
  text-align: center;
  cursor: pointer;
}

.list-item-inline:hover{
 color: green;
}

a {
color: #585858;
}

a:hover {
color: green;
}

a:hover .list-item-inline {
 color: #585858 !important;
}

 table, td {
 /*position: relative;
 left: -15px;*/
 width: 200px;
 text-align: left;
 padding: 10px;
 border-collapse: collapse;
 box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.2);
 background-color: white;
 z-index: 100;
 line-height: 20px;
}

.list-inline > li {
 display: inline-block;
 padding-right: 19px;
 padding-left: 19px;
 min-width: 1px;
 line-height: 40px;
}

.dropdown-content {
 display: none;
 position: absolute;
 font-size: 12px;
 min-width: 160px;
 z-index: 100;
}

.content-holder {
 position: relative;
 background-color: white;
 -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
 -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
 margin-bottom: 140px;
 width: 95%;
 padding: 20px 30px;
 margin-bottom: 20px;
 margin-left: auto;
 margin-right: auto;
}

.info {
 padding: 10px;
 max-width: 800px;
 margin: auto;
 line-height: 25px;
}

h1 {
 font-family: Raleway;
 line-height: 40px;
 font-weight: 600;
 font-style: normal;
 color: #32a33f;
 font-size: 38px;
 text-align: center;
}

h4 {
 font-family: Raleway;
 line-height: 40px;
 font-weight: 500;
 font-style: normal;
 color: #32a33f;
 font-size: 24px;
 text-align: center;
}
