/* app css stylesheet */

.topbar {
 height:30px;
 z-index:50;
}

.logo{
 position: relative;
 margin: auto;
 left: 0;
 right: 0;
 width: 333px;
 top: 50px;
 min-width: 1px;
 cursor: pointer;
}

.menu {
  line-height: 17px;
  font-weight: 500;
  font-style: normal;
  color: #585858;
  font-size: 18px;
  margin-top: 4em;
  text-align: center;
  cursor: pointer;
}

.list-item-inline:hover{
 color: green;
}

.list-item-inline:hover .submenu-item {
 color: #585858;
}

.submenu-item:hover{
 color:green !important;
} 

.submenu-item:hover .list-item-inline {
 color: #585858 !important;
}

 table, td {
 position: relative;
 left: -15px;
 width: 200px;
 text-align: left;
 padding: 10px;
 border-collapse: collapse;
 box-shadow: 0px 3px 16px -5px rgba(0,0,0,0.2);
}

.list-inline > li {
 display: inline-block;
 padding-right: 19px;
 padding-left: 19px;
}

.dropdown-content {
 display: none;
 position: absolute;
 padding: 10px;
 text-align: left;
 width: auto;
 font-size: 12px;
 min-width: 160px;
}
