/* app css stylesheet */

.topbar {
 height:30px;
 z-index:50;
}

.logo{
 position: relative;
 margin: auto;
 left: 0;
 right: 0;
 width: 333px;
 top: 50px;
 min-width: 1px;
}

.menu {
  line-height: 17px;
  font-weight: 500;
  font-style: normal;
  color: #585858;
  font-size: 18px;
  margin-top: 4em;
  text-align: center;
  cursor: pointer;
}
ul li: hover{
color: green;
}

.list-inline > li {
 display: inline-block;
 padding-right: 19px;
 padding-left: 19px;
}
