<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="iNERDE_App" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>iNERDE - Empowering Youth with Opportunity</title>
  <meta name="description" content="iNERDE has a plan for radical development in Africa. Our goal is to provide African youth the opportunity to discover their potential through STEM Education">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/favi2.ico" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
   <header>
   <div class="container"style="position: fixed;" >
        <div class="row" style="position: fixed; width: 100%" >
            <div class="col-xs-4 topbar" style="background-color:green;"></div>  
            <div class="col-xs-4 topbar" style="background-color:yellow;"></div>
            <div class="col-xs-4 topbar" style="background-color:red;"></div>
        </div>
        <!--      </div> -->
   </header> 

   <div class="logo"  ng-controller="imgCtrl">
     <img ng-src="{{image}}" class="ng-responsive-image"/>
 </div>
 </div>
   <div ng-controller="menuCtrl" class="menu"> 
     <ul class="list-inline">       
         <li class="list-item-inline" ng-repeat="menuitem in menuitems" ng-click="showSubMenu(menuitems,$index)" >{{menuitem.name}}</li>
     </ul>
  <ul ng-style="subLeft">
    <li ng-repeat="subitem in subitems">
      <a ng-href="{{subitem.href}}" target="{{subitem.target}}" >{{subitem.name}}</a>
    </li>
  </ul>
</div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="controller.js"></script>
</body>
</html>
